[project]
	description = Node.js parsing code for SBS-1 ADS-B messages
[access "refs/*"]
	owner = group user/John Wiseman (wiseman)
[access "refs/for/refs/*"]
	read = group user/John Wiseman (wiseman)
	push = group user/John Wiseman (wiseman)
	label-Code-Review = -2..+2 group user/John Wiseman (wiseman)
	label-Verified = -1..+1 group user/John Wiseman (wiseman)
	rebase = group user/John Wiseman (wiseman)
	removeReviewer = group user/John Wiseman (wiseman)
	submit = group user/John Wiseman (wiseman)
[access "refs/heads/*"]
	read = group user/John Wiseman (wiseman)
	create = group user/John Wiseman (wiseman)
	push = +force group user/John Wiseman (wiseman)
	pushMerge = group user/John Wiseman (wiseman)
[access "refs/tags/*"]
	push = +force group user/John Wiseman (wiseman)
	pushTag = group user/John Wiseman (wiseman)
	pushSignedTag = group user/John Wiseman (wiseman)
